/* .vol{
    background-color:aquamarine;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center top; 
    clip-path: polygon(100% 8%, 0 56%, 100% 100%);
} */